# Disable caching for manifest.json files
<FilesMatch "manifest\.json$">
  Header set Cache-Control "no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires "0"
</FilesMatch>

# Cache data files for 1 year (immutable)
<FilesMatch ".*-data\.json$">
  Header set Cache-Control "max-age=31536000, public, immutable"
</FilesMatch>

# Cache HTML, JS and CSS files for 1 day
<FilesMatch "\.(html|js|css)$">
  Header set Cache-Control "max-age=86400, public"
</FilesMatch>
